/* General styles */
/* body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  } */
  .img_card {
    position: relative;
    left: -16px;
    width: 348px;

  }
  .heading_tab{
    display: center;
    position: relative;
    display: center;
    text-align: center;
    top: -53px;
    border: 3px solid green;
    background-color: beige;
    font-family: fangsong;
    font-size: 24px;
  }
  .wrapper1 {
    bottom: -500px;
    
    background: #adb51a;
    position: relative;
    /* bottom: 448px; */
   
    height: 627px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        margin: 0 auto;
        border-radius: 18px;
        border-top: 6px solid black;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    }
  
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
  }
  
  .item-bg {
    position: absolute;
    top: 30px;
    left: -30px;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 26px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.4s;
  }
  
  .news-slider {
   

   
        width: 90%;
        height: 324px;
        margin: 0 auto;
        padding-top: 100px;
        position: relative;
        border-radius: 15px;
        background-color:beige
    
    
    
  }
  
  .news-slider__wrp {
    display: flex;
    justify-content: space-between;  /* Ensure cards have equal space between them */
    overflow: hidden;
    position: relative;
    padding: 0 50px;  /* Space on both sides */
  }
  
  .news-slider__item {
    width: 390px;
    height: 360px;
   
    transition: opacity 0.3s ease-in-out;
  
  }
  .news__txt{
    font-size:12px;
  }
  .news__title{
    font-size: 24px;
  }
  
  .news__item {
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 6px 26px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    margin: 0 15px;  /* Space between cards */
  }
  
  .news__item.highlighted {
    background-color: green;
  
    transform: scale(1.05);  /* Slightly enlarge the highlighted card */
  }
  
  .news-slider__ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .news-slider__arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .news-slider__arrow {
    background: none;
    border: none;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .news-slider-prev svg,
  .news-slider-next svg {
    width: 15px;
    height: 15px;
  }
  